<!-- your html code here -->
<div class="container p-5 pt-0 bg-white">
    <h3 class="border-top p-0 pt-5">Contact</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia inventore quisquam sapiente, perspiciatis rem dolores temporibus culpa exercitationem iure vitae, saepe soluta laborum debitis et repudiandae, incidunt atque sed eum.</p>
    <footer>
        <div class="container justify-content-center pg-5 bg-light w-50">
            <div class="mb-3 d-flex">
                <label for="exampleFormControlInput1" class="form-label w-25"><strong>Your E-mail</strong></label>
                <input type="email" class="form-control w-75" id="exampleFormControlInput1" placeholder="Your email">
            </div>
            <div class="mb-3 d-flex">
                <label for="exampleFormControlTextarea1" class="form-label w-25"><strong>Your Message</strong></label>
                <textarea class="form-control w-75" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message here..."></textarea>
            </div>
            <div class="col-lg-12 d-flex p-2 justify-content-end">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
              
            </div>
            
            <div class="row">
              <div class="col-lg-12">
                  <h6>Copyright &copy; Your Website Name 2021</h6>
              </div>
        </div>
    </footer>
    </div>
