<!-- your html code here -->
<div class="container p-5 pt-0 bg-white">
    <h3 class="border-top p-0 pt-5">Portfolio</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia inventore quisquam sapiente, perspiciatis rem dolores temporibus culpa exercitationem iure vitae, saepe soluta laborum debitis et repudiandae, incidunt atque sed eum.</p>
    <div class="row">
        <div class="card col-sm-12 col-md-6 col-lg-4 col-xl-4 border border-0">
            <img src="https://www.ramscale.cl/cdn/shop/products/MMP-118_21a7d7cc-e424-4692-855d-04bc1be106f6.jpg?v=1637948365" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-primary">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card col-sm-12 col-md-6 col-lg-4 col-xl-4 border border-0">
            <img src="https://www.ramscale.cl/cdn/shop/products/MMP-118_21a7d7cc-e424-4692-855d-04bc1be106f6.jpg?v=1637948365" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-primary">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card col-sm-12 col-md-6 col-lg-4 col-xl-4 border border-0">
            <img src="https://www.ramscale.cl/cdn/shop/products/MMP-118_21a7d7cc-e424-4692-855d-04bc1be106f6.jpg?v=1637948365" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-primary">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
</div>